section#about
    .container
      header.section-header
        h3 About
        p
          | Up to date with the latest and greatest tools of the trade. By starting with a mobile first approach, I can build you a beautiful responsive site that will look great on any device. 
      .row.about-cols
        .col-md-4.wow.fadeInUp
          .about-col
            .img
              img.img-fluid(src='img/about-mission.jpg' alt='')
              .icon
                i.ion-ios-speedometer-outline
            h2.title
              a.disabled(href='#') The Mission
            p
              | I'm Building new user friendly sites or updating older sites to improve quality, performance, security and responsiveness.
        .col-md-4.wow.fadeInUp(data-wow-delay='0.1s')
          .about-col
            .img
              img.img-fluid(src='img/about-plan.jpg' alt='')
              .icon
                i.ion-ios-list-outline
            h2.title
              a.disabled(href='#') The Plan
            p
              | Bring quality, performance and class to the table, updating sites as needed or adding on some new amazing features otherwise.
        .col-md-4.wow.fadeInUp(data-wow-delay='0.2s')
          .about-col
            .img
              img.img-fluid(src='img/about-vision.jpg' alt='')
              .icon
                i.ion-ios-eye-outline
            h2.title
              a.disabled(href='#') The Vision
            p
              | Faster, more reliable, elegant, feature rich user friendly experience. I want the user to say wow when they visit.