section#featured-services
    .container
      .row
        .col-lg-4.box
          i.ion-ios-bookmarks-outline
          h4.title
            a.disabled(href='#') Responsive Web Design
          p.description
            | Your site absolutely has to look great on any device, and I build dynamic sites that appear their best on any size of screen.
        .col-lg-4.box.box-bg
          i.ion-ios-speedometer-outline
          h4.title
            a.disabled(href='#') High Performance
          p.description
            | Speed and performance is very important for your users to have a good experience on your site.
        .col-lg-4.box
          i.ion-ios-heart-outline
          h4.title
            a.disabled(href='#') High Quality
          p.description
            | Everyone will love the classy UI experience like smooth transitions, subtle animations and friendly messages.