section#services
    .container
      header.section-header.wow.fadeInUp
        h3 Services
        p
          | I can build you a new web site or upgrade your existing one. I begin building a strong foundation for a website right from the start. It will be ready to grow so there's no trouble down the line with having to migrate your database or rebuild your web app later on. 
      .row
        .col-lg-4.col-md-6.box.wow.bounceInUp(data-wow-duration='1.4s')
          .icon
            i.ion-ios-analytics-outline
          h4.title
            a.disabled(href='#') Scalable Database
          p.description
            | I build servers and databases that can grow to meet the needs of your site, whether you have hundreds or millions of users. 
        .col-lg-4.col-md-6.box.wow.bounceInUp(data-wow-duration='1.4s')
          .icon
            i.ion-ios-bookmarks-outline
          h4.title
            a.disabled(href='#') Responsive Web Design
          p.description
            | Your site absolutely has to look great on any device, I build dynamic sites that appear their best depending on the size of the screen.
        .col-lg-4.col-md-6.box.wow.bounceInUp(data-wow-duration='1.4s')
          .icon
            i.ion-ios-paper-outline
          h4.title
            a.disabled(href='#') Api Integration
          p.description
            | Get connected and add some powerful fun features to your web app like custom google maps, twitter feed, charts, youtube.. There's hundreds of possibilities.
        .col-lg-4.col-md-6.box.wow.bounceInUp(data-wow-delay='0.1s' data-wow-duration='1.4s')
          .icon
            i.ion-ios-speedometer-outline
          h4.title
            a.disabled(href='#') Optimized Faster
          p.description
            | Speed and performance is very important for your users to have a good experience on your site. I implement many great techniques to improve server response and browser loading times.
        .col-lg-4.col-md-6.box.wow.bounceInUp(data-wow-delay='0.1s' data-wow-duration='1.4s')
          .icon
            i.ion-ios-barcode-outline
          h4.title
            a.disabled(href='#') Secure encryption
          p.description
            | SSL encryption accross the whole site and passwords are always stored using a one way secure hashing algorithm before they are saved into the database.
        .col-lg-4.col-md-6.box.wow.bounceInUp(data-wow-delay='0.1s' data-wow-duration='1.4s')
          .icon
            i.ion-ios-people-outline
          h4.title
            a.disabled(href='#') OAuth support
          p.description
            | Let your users easily register and sign in using their existing google, facebook, twitter or other 3rd party credentials and avoid remembering another password.