section#call-to-action.wow.fadeIn
  .container.text-center
    h3 Dont Wait Any Longer
    p
      | Your website is often a clients first impression about your business..
      | <br>I can make it a great one.
    a.cta-btn.scrollto(href='#contact') Let's Talk!
section#skills
    .container
      header.section-header
        h3 Our Skills
        img(src='img/logos.svg' alt='Programming logo\'s')